@import 'vars';

/*.nav_wrapper{
  background: $off-white;
  padding-left: 10px;
  a {
    color: $blue-1;
    font-size: 18px;
  }
}
*/
.nav_bar_strip{
  height: 5px;
  width: 100vw;
  background: linear-gradient(to right, $blue-1, $blue-2);
}
