html{}
body{
  overflow: scroll;
  --blue-1:    #004870;
  --blue-2:    #137cc1;
  --tan:       #e7e7e8;
  --something: #333333;
  --orange:    #fd7037;
  --off-white: #f7f7f7;
  color: var(--blue-1);
  background: var(--off-white);
}
.container{
  color: black;
}

#main-container{
  width: 100vw;
  min-height: 520px;
  display: flex;
  flex-direction: column;
}

/*calendar*/
.picker__date-display{
  background: var(--blue-1);
}
.picker__year-display{
  color: var(--blue-2);
}
.picker__today{
  color: var(--blue-2);
}
.picker__close{
  color: var(--blue-2);
}
.picker__day.picker__day--today{
  color: var(--blue-2);
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background: var(--blue-1);
}
.picker__nav--prev::before{
  border-right: 0.75em solid var(--blue-2);
}
.picker__nav--prev:hover{
  background: rgba(0,0,0,0);
}
.picker__nav--next::before{
  border-left: 0.75em solid var(--blue-2);
}
.picker__nav--next:hover{
  background: rgba(0,0,0,0);
}
.picker{
  color: var(--blue-1);
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
  background: var(--blue-1);
}
/*PageNav*/
#nav-bar-strip{
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, var(--blue-1), var(--blue-2));
}
#page-nav{
  background-color: white;
}
i.material-icons{
  color: var(--blue-1);
  font-size: 35px !important;
}
a.brand-logo>a{
  color: var(--blue-1);
  font-size: 28px;
  user-select: none;
}
a.brand-logo:hover{
  text-decoration: none;
  color: var(--blue-2);
}
span > li > a {
  color: var(--blue-1);
  font-size: 18px;
  user-select: none;
}
span > li > a:hover {
  color: var(--blue-2);
}
#nav-mobile > li > span > li > a {
  color: var(--blue-1);
  font-size: 20px;
  user-select: none;
}
#nav-mobile > li > span > li > a:hover {
  color: var(--blue-2);
  background: var(--off-white);
}
#nav-mobile > li > a {
  font-size: 20px;
  margin: 10px 0;
  color: var(--blue-1);
  user-select: none;
}
#nav-mobile > li > a:hover {
  color: var(--blue-2);
  background: var(--off-white);
}
#nav-mobile > span > li > a {
  font-size: 20px;
  margin: 10px 0;
  color: var(--blue-1);
  user-select: none;
}
#nav-mobile.side-nav::before{
  content:'';
  width: 100%;
  height: 5px;
  position: absolute;
  background: linear-gradient(to right, var(--blue-1), var(--blue-2));
  font-weight: lighter;
}
#nav-mobile.side-nav{
  background: var(--off-white);
}

ul> li > a{
  font-size: 18px;
  color: var(--blue-1);
  user-select: none;
  transition: all 200ms ease;
}
ul> li > a:hover{
  background: rgba(0,0,0,0);
  color: var(--blue-2);
  text-decoration: none;
  user-select: none;
}

.view-container{
  text-align: center;
  min-height: 550px;
  position: relative;
  overflow: scroll;
}

#register-view, #login-view{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#onsite{
  grid-row: 1/2;
  height: 512px;
  overflow: scroll;
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,0.3);
}
#user-reg{
  padding: 10px;
}
.tab-content{
  padding-top:10px;
}

#offsite{
  grid-row: 2/3;
  border-left: 1px solid rgba(0,0,0,0.3);
}
#register-view > #onsite {
}
#register-view > #offsite {
}
#login-view > #onsite > .form-horizontal {
  position: relative;
  margin: auto;
}
#login-view > #offsite {
}
/*Fade.jsx*/
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-appear{
  opacity: 0;
}
.fade-appear-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}
/*overriding materialize button styling*/
button.btn{
  background: var(--blue-1);
  color: var(--off-white);
}
button.btn:hover{
  background: var(--blue-2);
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0,0,0,0.6);
}
label{
  color: var(--blue-1);
}
button.btn:focus{
  background: var(--blue-2);
}
[type="checkbox"]:checked+label:before{
     border-right-color: var(--blue-2);
     border-bottom-color: var(--blue-2);
}
input[type='text']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='text']:not(.browser-default):focus:not([readonly])+label{
  color: var(--blue-2);
}
input[type='password']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='password']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
input[type='email']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='email']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
input[type='number']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='number']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
.dropdown-content>li>span{
  color:var(--blue-2);
}
.tabs .tab a {
  color: var(--blue-1);
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: var(--blue-2);
}
.tabs .indicator{
  background-color: var(--blue-2);
}

.dashboard-container{
  position: relative;
  margin: auto auto;
  width: 93%;
  min-width: 320px;
}
.dashboard-layout{
  padding: 6px;
  display: grid;
  grid-template-rows: 21% 79%;
  height: 800px;
}
.dashboard-side-content{
  grid-row: 1;
}
.dashboard-main-content{
  grid-row: 2;
}
/*guest dashboard*/
#dashboard-guest .dashboard-side-content{
  display: grid;
  grid-template-rows: 20% auto 35%;
  margin: 10px;
}
#guest-side-content-header{
  padding: 6px;
  text-align: center;
  grid-row: 2;
  color: white;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
}
#reg-log-links{
  margin-top:15px;
}
#dashboard-guest a > button.btn{
  width: 22vw !important;
  font-size: 2.1vw !important;
}

#dashboard-guest .dashboard-main-content{
  display: grid;
  grid-template-rows: 10% 90%;
  margin-top: 60px;
}

#dashboard-guest-main-content-content{
  padding: 3px;
  grid-row: 1/3;
  color: var(--off-white);
  display: grid;
  grid-template-rows: 10% auto;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
}
#dashboard-guest-main-content-content > #content-header{
  grid-row: 1;
  font-size: 4vw;
  margin: auto 0;
}
#dashboard-guest-main-content-content > #content-search{
  grid-row: 2;
}

#dashboard-guest a > button.btn{
  margin: 10px;
  height: 50px;
  width: 150px;
}
#splash-container{
  position: absolute;
  z-index: -1;
}
#splash-container > .splash-img{
  max-height: 1000px;
  min-height: 600px;
  min-width: 900px;
  transform: translate(-330px,-50px);
}

#guest-view{
  display: flex;
  overflow: hidden;
}

/*volop search*/
#volop-search-container{
  display: grid;
  background: rgba(240,240,240,0.6);
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
#search-container{
  color: var(--blue-1);
  display: grid;
  grid-template-rows: 200px auto;
  background: var(--off-white);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: auto;
  padding: 6px;
  height: 485px;
  width: 95%;
  overflow-y: scroll;
}
#search-options{
  display: grid;
  grid-template-rows: auto 50px;
}
#search-radio-buttons{
  grid-row: 1;
  font-size: 10px;
}
#search-zip-container{
  grid-row: 2;
}
#search-submit{
  padding-top: 25px;
}
#search-results{
  margin-top: 50px;
}
#search-error-warning, #search-notfound-warning{
  visibility: hidden;
  color: rgba(230,0,0,0.6);
  opacity: 0;
  transition: opacity 200ms ease;
}

/*volop listing*/
.card-panel{
  padding: 0;
  border-radius: 3px;
  max-width: 570px;
  margin: 0 auto 21px auto;
}
.volop-listing-container{
  height:600px;
  border-radius: 3px;
  display: grid;
  grid-template-rows: repeat(10,10%);
  grid-template-columns: repeat(10,10%);
  text-align: left;
  color: var(--blue-1);
  background: white;
}
.volop-orgname{
  grid-row: 1;
  grid-column: 1/9;
  padding: 6px;
  font-size: 3.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volop-name{
  grid-row: 2;
  grid-column: 1/9;
  color: var(--blue-2);
  padding: 6px;
  font-size: 3.5vw;
  transform: translateY(-30px);
}

.volop-numspots-icon{
  grid-row: 1;
  grid-column: 9;
  cursor: default;
  padding-top: 5px;
}
.volop-numspots-icon i.material-icons:hover{
  color: var(--blue-2);
}
.volop-numspots-num{
  grid-row: 1;
  grid-column: 10;
  padding-top: 5px;
  font-size: 25px;
  cursor: default;
}
.volop-ongoing{
  grid-row: 2;
  grid-column: 9/11;
  cursor: default;
  padding: 0 3px;
  font-size: 2vw;
}
.volop-ongoing:hover{
  color:var(--blue-2);
}
.volop-description{
  grid-row: 8/10;
  grid-column: 5/11;
  padding: 6px;
  background: var(--off-white);
  border: 1px solid #e7e7e7;
  color: #666666;
  overflow: scroll;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 3px;
}
.volop-map{
  grid-row: 3/8;
  grid-column: 1/11;
  margin: 0 auto;
  box-shadow: .5px 0 5px rgba(0,0,0,0.5);
}
.volop-categories{
  grid-row: 2;
  grid-column: 1/5;
  padding-left: 6px;
}
.volop-categories i.material-icons {
  font-size: 40px !important;
}
.volop-categories i.material-icons:hover{
  color: var(--blue-2) !important;
  cursor: default;
  user-select: none;
}
.volop-details{
  grid-row: 8/10;
  grid-column: 1/5;
  color: var(--blue-2);
  padding: 6px 0 0 12px;
  font-size: 2.6vw;
  font-weight: bold;
  margin: 12px 0 0 12px;
  transform: translateY(-18px);
}
ul:not(.browser-default)>li{
  list-style-type: square!important;
}
.volop-save-button{
  margin: 4px auto 0 auto;
  grid-row: 10;
  grid-column: 1/11;
}
.volop-save-button button{
  width: 35.7vw;
  height: 50px;
  font-size: 2.2vw;
}

/*font-size breaks*/
@media screen and (min-width: 750px) {
  #dashboard-guest-main-content-content > #content-header{
    font-size: 30px;
  }
  #dashboard-guest a > button.btn{
    width: 165px !important;
    font-size: 14px !important;
  }
  .volop-orgname{
    font-size: 22.75px;
  }
  .volop-name{
    font-size: 22.75px;
  }
  .volop-ongoing{
    font-size: 13px;
  }
  .volop-details{
    font-size: 16px;
  }
  .volop-save-button button{
    width: 200px;
    font-size: 14.625px
  }
}
@media screen and (max-width: 450px) {
  #dashboard-guest-main-content-content > #content-header{
    font-size: 18px;
  }
  #dashboard-guest a > button.btn{
    width: 120px !important;
    font-size: 12px !important;
  }
  .volop-orgname{
    font-size: 16px;
  }
  .volop-name{
    font-size: 15px;
  }
  .volop-ongoing{
    font-size: 8.7px;
  }
  .volop-details{
    font-size: 12px;
  }
  .volop-save-button button{
    width: 150px;
    font-size: 10.5px;
  }
}

/*fullscreen*//*************************************************************/
@media screen and (min-width: 750px) {

  a.brand-logo>a{
    margin-left: 24px;
    font-size: 30px;
    font-weight: bold;
  }
  #splash-container > .splash-img{
    width: 100vw;
    transform: translateY(-50px);
  }

  .dashboard-container{
    position: relative;
    height: 500px;
    width: 1000px;
    min-width: 1000px;
    margin: auto auto;
  }
  .dashboard-layout{
    height: 500px;
    width: 1000px;
    min-width: 1000px;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-template-columns: 31% 69%;
    grid-template-rows: none;
  }
  .dashboard-main-content{
    grid-column: 2;
    grid-row: 1;
  }
  .dashboard-side-content{
    grid-column: 1;
    grid-row: 1;
  }

  #reg-log-links{
    margin: 5px;
  }

  #dashboard-guest .dashboard-main-content{
    margin-top: 0;
  }

  #dashboard-guest a > button.btn{
    margin: 6px;
    height: 40px;
  }
  #search-container{
    height: 400px;
  }
  #search-results{
    margin-top: 0px;
  }

  #dashboard-user{
    background: purple;
    border: 1px solid rgba(0,0,0,0.3);
  }
  #dashboard-org{
    background: blue;
    border: 1px solid rgba(0,0,0,0.3);
  }

  #register-view, #login-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  #onsite{
    grid-row: none;
    grid-column: 1/2;
    min-height: 512px;
    border-right: 1px solid rgba(0,0,0,0.3);
  }
  #offsite{
    grid-row: none;
    grid-column: 2/3;
    border-left: 1px solid rgba(0,0,0,0.3);
  }

  .card-panel{
    padding: 6px;
    border-radius: 3px;
    margin: 0 auto 21px auto;
    max-width: inherit;
    background: white;
  }
  .volop-listing-container{
    height:500px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: repeat(10,10%);
    grid-template-columns: repeat(10,10%);
    text-align: left;
  }
  .volop-orgname{
    font-size: 26px;
    grid-row: 1;
    grid-column: 1/9;
    padding: 6px;
  }
  .volop-name{
    padding: 6px;
    font-size: 22px;
    grid-row: 2;
    grid-column: 1/9;
    transform: translateY(-12px);
  }
  .volop-numspots-icon{
    grid-row: 1;
    grid-column: 9;
  }
  .volop-numspots-icon  i.material-icons{
    font-size: 55px !important;
    transform: translate(7px,-8px);
  }
  .volop-numspots-num{
    grid-row: 1;
    grid-column: 10;
    padding-top: 7px;
    font-size: 25px;
    text-align: center;
    background: var(--off-white);
    color: var(--blue-2);
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
  }
  .volop-ongoing{
    grid-row: 2;
    grid-column: 9/11;
    padding-top: 9px;
    font-size: 14px;
  }
  .volop-description{
    grid-row: 3/7;
    grid-column: 1/6;
    padding: 10px;
    background: var(--off-white);
    border: 1px solid #e7e7e7;
    margin-right: 5px;
  }
  .volop-map{
    grid-row: 3/9;
    grid-column: 6/11;
    box-shadow: .5px 0 5px rgba(0,0,0,0.5);
  }
  .volop-categories{
    grid-row: 9;
    grid-column: 1/11;
    padding-top: 30px;
  }
  .volop-categories i.material-icons {
    font-size: 50px !important;
    margin-right: 18px;
  }

  .volop-details{
    grid-row: 7/9;
    grid-column: 1/6;
    padding: 6px;
    font-size: 18px;
    margin-left: 18px;
  }
  ul:not(.browser-default)>li{
    list-style-type: square!important;
  }
  .volop-save-button{
    margin-top: 24px;
    grid-row: 9;
    grid-column: 7;
  }
  .volop-save-button button{
    width: 200px;
    height: 50px;
  }
}
