body{
  overflow: scroll;
  --blue-1:    #004870;
  --blue-2:    #137cc1;
  --tan:       #e7e7e8;
  --something: #333333;
  --orange:    #fd7037;
  --off-white: #f7f7f7;
  color: var(--blue-1);
  background: var(--off-white);
}
.container{
  color: black;
}
#app-container{
}

#main-container{
  width: 100vw;
  min-height: 520px;
  display: flex;
  flex-direction: column;
}
#header-wrap{
  position: fixed;
  width: 100vw;
  height: 56px;
  font-size: 25px;
  display: grid;
  grid-template-columns: 100px auto 100px;
  background: var(--header-footer-color);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  z-index: 999;
}

#nav-bar-strip{
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, var(--blue-1), var(--blue-2));
}
#page-nav{
  background-color: white;
}
.nav-wrapper{
  padding: 0 10px 10px 10px;
}
.picker__date-display{
  background: var(--blue-1);
}
.picker__year-display{
  color: var(--blue-2);
}
.picker__today{
  color: var(--blue-2);
}
.picker__close{
  color: var(--blue-2);
}
.picker__day.picker__day--today{
  color: var(--blue-2);
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background: var(--blue-1);
}
.picker__nav--prev::before{
  border-right: 0.75em solid var(--blue-2);
}
.picker__nav--prev:hover{
  background: rgba(0,0,0,0);
}
.picker__nav--next::before{
  border-left: 0.75em solid var(--blue-2);
}
.picker__nav--next:hover{
  background: rgba(0,0,0,0);
}


.picker{
  color: var(--blue-1);
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
  background: var(--blue-1);
}

i.material-icons{
  color: var(--blue-1);
  font-size: 35px !important;
}
a.brand-logo>a{
  color: var(--blue-1);
  font-size: 28px;
}
a.brand-logo:hover{
  text-decoration: none;
  color: var(--blue-2);
}
span > li > a {
  color: var(--blue-1);
  font-size: 18px;
}
#nav-mobile > li > span > li > a {
  color: var(--blue-1);
  font-size: 20px;
}
#nav-mobile > li > a {
  font-size: 20px;
  margin: 10px 0;
  color: var(--blue-1);
}

#nav-mobile > span > li > a {
  font-size: 20px;
  margin: 10px 0;
  color: var(--blue-1);
}
#nav-mobile.side-nav::before{
  content:'';
  width: 100%;
  height: 5px;
  position: absolute;
  background: linear-gradient(to right, var(--blue-1), var(--blue-2));
  font-weight: lighter;
}
#nav-mobile.side-nav{
  background: var(--off-white);
}
ul> li > a{
  font-size: 18px;
  color: var(--blue-1);
}
ul> li > a:hover{
  background: var(--off-white);
  color: var(--blue-2);
  text-decoration: none;
}

#content-div{
  margin-bottom: 22px;
}
#log-buttons{
  display: grid;
  height: 56px;
  grid-template-columns: repeat(6,1fr);
  text-align: center;
}
.log-button{
  height: 50px;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  transform: translateY(-25px);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: all 200ms ease;
  user-select: none;
}
.log-button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
#sign-up{
  grid-column: 2;
}
#log-in{
  grid-column: 5;
}
#content-container{
  position: relative;
  margin: 0 0 0 0;
}
#main-content-wrap{
  display: flex;
  flex-direction: column;
}
.main-content{
  margin: 10px auto;
  padding: 10px;
  min-height: 400px;
  width: 95%;
  min-width: 320px;
  max-width: 840px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#zip-input-form{
  color: #000;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 300px;
  margin: 0 auto;
}
#zip-wrapper{
  margin: 0 auto 15px auto;
}
#footer-wrap{
  padding: 10px;
  position: relative;
  margin: auto 0 0 0;
  height: 231px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
  background: var(--header-footer-color);
}

#social-links{
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
#fb-link{
  grid-column: 1;

}
#tw-link{
  grid-column: 3;
}
#fb-link:hover{
  color: #3b5998;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#tw-link:hover{
  color: #4099ff;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.social-link{
  font-size: 30px;
  text-align: left;
  cursor: pointer;
  transition: color 200ms ease;
}
.social-link:hover{
}

#footer-side-info{
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
#footer-logo{
  text-align: center;
  padding: auto;
  grid-row: 1/3;
}
#footer-bottom-info{
  grid-row: 3;
}
#footer-email{

}
#footer-copyright{

}

.view-container{
  text-align: center;
  min-height: 550px;
  position: relative;
  overflow: scroll;
}

#register-view, #login-view{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#onsite{
  grid-row: 1/2;
  min-height: 512px;
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,0.3);
}
#user-reg{
  padding: 10px;
}
.tab-content{
  padding-top:10px;
}

#offsite{
  grid-row: 2/3;
  border-left: 1px solid rgba(0,0,0,0.3);
}
#register-view > #onsite {
}
#register-view > #offsite {
}
#login-view > #onsite > .form-horizontal {
  position: relative;
  margin: auto;
}
#login-view > #offsite {
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-appear{
  opacity: 0;
}
.fade-appear-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

button.btn{
  background: var(--blue-1);
  color: var(--off-white);
}
button.btn:hover{
  background: var(--blue-2);
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0,0,0,0.6);
}
label{
  color: var(--blue-1);
}
button.btn:focus{
  background: var(--blue-2);
}
[type="checkbox"]:checked+label:before{
     border-right-color: var(--blue-2);
     border-bottom-color: var(--blue-2);
}
input[type='text']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='text']:not(.browser-default):focus:not([readonly])+label{
  color: var(--blue-2);
}
input[type='password']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='password']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
input[type='email']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='email']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
input[type='number']:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--blue-2);
  box-shadow: 0 1px 0 0 var(--blue-2);
}
input[type='number']:not(.browser-default):focus:not([readonly]) + label{
  color: var(--blue-2);
}
.dropdown-content>li>span{
  color:var(--blue-2);
}
.tabs .tab a {
  color: var(--blue-1);
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: var(--blue-2);
}
.tabs .indicator{
  background-color: var(--blue-2);
}


.dashboard-container{
  position: relative;
  margin: auto auto;
  width: 93%;
  min-width: 400px;
}
.dashboard-layout{
  padding: 6px;
  display: grid;
  grid-template-rows: 21% 79%;
  height: 800px;
}
.dashboard-side-content{
  grid-row: 1;
}
.dashboard-main-content{
  grid-row: 2;
}
#dashboard-guest .dashboard-side-content{
  display: grid;
  grid-template-rows: 20% auto 35%;
  margin: 10px;
}
#guest-side-content-header{
  padding: 6px;
  text-align: center;
  grid-row: 2;
  color: white;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
}
#reg-log-links{
  margin-top:15px;
}

#dashboard-guest .dashboard-main-content{
  display: grid;
  grid-template-rows: 10% 90%;
  margin-top: 60px;
}

#dashboard-guest-main-content-content{
  padding: 3px;
  grid-row: 1/3;
  color: var(--off-white);
  display: grid;
  grid-template-rows: 10% auto;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
}
#dashboard-guest-main-content-content > #content-header{
  grid-row: 1;
}
#dashboard-guest-main-content-content > #content-search{
  grid-row: 2;
}


#dashboard-guest a > button.btn{
  margin: 10px;
  height: 50px;
  width: 150px;
}
#splash-container{
  position: absolute;
  z-index: -1;
}
#splash-container > .splash-img{
  max-height: 1000px;
  min-height: 600px;
  min-width: 900px;
  transform: translate(-330px,-50px);
}

#guest-view{
  display: flex;
  overflow: hidden;
}

#volop-search-container{
  display: grid;
  background: rgba(240,240,240,0.6);
  border-radius: 3px;
  height: 100%;
  width: 100%;
  transition: background 250ms ease;
  overflow-y: hidden;
}

#search-container{
  color: var(--blue-1);
  display: grid;
  grid-template-rows: 200px auto;
  background: var(--off-white);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: auto;
  padding: 6px;
  height: 485px;
  width: 95%;
  overflow-y: scroll;
}
#search-options{
  display: grid;
  grid-template-rows: auto 50px;
}
#search-radio-buttons{
  grid-row: 1;
  font-size: 10px;
}
#search-zip-container{
  grid-row: 2;
}
#search-submit{
  padding-top: 25px;
}
#search-results{
  margin-top: 68px;
}
/*fullscreen*//*************************************************************/
@media screen and (min-width: 750px) {

  #splash-container > .splash-img{
    width: 100vw;
    transform: translateY(-50px);
  }

  .dashboard-container{
    position: relative;
    height: 500px;
    width: 1000px;
    min-width: 1000px;
    margin: auto auto;
  }
  .dashboard-layout{
    height: 500px;
    width: 1000px;
    min-width: 1000px;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-template-columns: 31% 69%;
    grid-template-rows: none;
  }
  .dashboard-main-content{
    grid-column: 2;
    grid-row: 1;
  }
  .dashboard-side-content{
    grid-column: 1;
    grid-row: 1;
  }

  #reg-log-links{
    margin: 5px;
  }

  #dashboard-guest .dashboard-main-content{
    margin-top: 0;
  }

  #dashboard-guest a > button.btn{
    margin: 6px;
    height: 40px;
  }
  #search-container{
    height: 400px;
  }
  #search-results{
    margin-top: 44px;
  }

  #dashboard-user{
    background: purple;
    border: 1px solid rgba(0,0,0,0.3);
  }
  #dashboard-org{
    background: blue;
    border: 1px solid rgba(0,0,0,0.3);
  }

  #register-view, #login-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  #onsite{
    grid-row: none;
    grid-column: 1/2;
    min-height: 512px;
    border-right: 1px solid rgba(0,0,0,0.3);
  }
  #offsite{
    grid-row: none;
    grid-column: 2/3;
    border-left: 1px solid rgba(0,0,0,0.3);
  }
}
