body{
  overflow: scroll;
  color:#000;
  background: #ddd;
}

#app-container{
  --main-bg-color: #1e5661;
  --splash-bg-color: #efefef;
  --content-container-bg-color: #0c3440;
  --content-bg-color: #ffffff;
  --header-footer-color: #ffffff;
}

#main-container{
  width: 100vw;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}
#header-wrap{
  position: fixed;
  width: 100vw;
  height: 56px;
  font-size: 25px;
  display: grid;
  grid-template-columns: 100px auto 100px;
  background: var(--header-footer-color);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  z-index: 999;
}
#header-logo{
  grid-column: 1;
  text-align: center;
  margin: auto auto;
  cursor: pointer;
  color: rgb(200,40,40);
}

#menu{
  visibility: hidden;
  position: fixed;
  margin-top: 56px;
  width: 100vw;
  background: var(--header-footer-color);
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#menu>ul{
  list-style-type: none;
  padding-left: 10px;
}
#menu>ul>li{
  transition: all 200ms ease-in-out;
}
#menu>ul>li:hover{
  cursor: pointer;
  color: var(--main-bg-color);
  text-shadow: 0 0 0 var(--main-bg-color);
}
#menu-icon{
  grid-column: 3;
  font-size: 35px;
  margin: auto;
  cursor: pointer;
}
#guest-view{
}

#content-div{
  margin-bottom: 22px;
}
#log-buttons{
  display: grid;
  height: 56px;
  grid-template-columns: repeat(6,1fr);
  text-align: center;
}
.log-button{
  height: 50px;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  transform: translateY(-25px);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: all 200ms ease;
  user-select: none;
}
.log-button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
#sign-up{
  grid-column: 2;
}
#log-in{
  grid-column: 5;
}
#content-container{
  position: relative;
  margin: 56px 0 0 0;
}
#main-content-wrap{
  display: flex;
  flex-direction: column;
}
.main-content{
  margin: 10px auto;
  padding: 10px;
  height: 400px;
  width: 95%;
  min-width: 320px;
  max-width: 840px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#carousel-container{
  height: 300px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  border-radius: 4px;
}
#carousel-container:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
#main-carousel{
  height: 100%;
}
#category-carousel{
  max-width: 500px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}
#carousel-header{
  font-size: 25px;
  padding-top: 0;
}
.carousel-icon{
  margin-top: 40px;
  font-size: 90px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-indicators{
  display: none;
}
#zip-input-form{
  color: #000;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 300px;
  margin: 0 auto;
}
#zip-wrapper{
  margin: 0 auto 15px auto;
}
#footer-wrap{
  padding: 10px;
  position: relative;
  margin: auto 0 0 0;
  height: 231px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
  background: var(--header-footer-color);
}
#footer-links{
  grid-column: 1;
}
.footer-link{
  width: 40%;
  min-width: 120px;
  padding: 10px;
  cursor: pointer
}
.footer-link:hover{
  color: #ccc;
}
#footer-about{
}
#footer-contact{
}
#footer-tou{
}
#social-links{
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
#fb-link{
  grid-column: 1;

}
#tw-link{
  grid-column: 3;
}
#fb-link:hover{
  color: #3b5998;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#tw-link:hover{
  color: #4099ff;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.social-link{
  font-size: 30px;
  text-align: left;
  cursor: pointer;
  transition: color 200ms ease;
}
.social-link:hover{
}


#footer-side-info{
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
#footer-logo{
  text-align: center;
  padding: auto;
  grid-row: 1/3;
}
#footer-bottom-info{
  grid-row: 3;
}
#footer-email{

}
#footer-copyright{

}

.view-container{
  text-align: center;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  position: relative;
  overflow: scroll;
}

#register-view, #login-view{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#onsite{
  grid-row: 1/2;
  min-height: 512px;
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,0.3);
}
.tab-content{
  padding-top:10px;
}
form>div{
}
#offsite{
  grid-row: 2/3;
  border-left: 1px solid rgba(0,0,0,0.3);
}
#register-view > #onsite {
}
#register-view > #offsite {
}
#login-view > #onsite {
  background: red;
}
#login-view > #offsite {
  background: purple;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-appear{
  opacity: 0;
}
.fade-appear-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

@media screen and (min-width: 750px) {
  #menu{
    visibility: visible;
    position: relative;
    margin: auto auto;
    font-size: 16px;
    grid-column: 2;
    max-width: 800px;
    height: 100%;
    margin-top: 0;
    box-shadow: none;
  }
  #menu>ul{
    margin: 10px 0 0 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu-icon{
    visibility: hidden;
  }
  /*guest view*/
  #guest-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #guest-view>#category-carousel{
    position: relative;
    margin-top: 56px;
    grid-column: 2;
  }

  #register-view, #login-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  #onsite{
    grid-row: none;
    grid-column: 1/2;
    min-height: 512px;
    border-right: 1px solid rgba(0,0,0,0.3);
  }
  #offsite{
    grid-row: none;
    grid-column: 2/3;
    border-left: 1px solid rgba(0,0,0,0.3);
  }
}
